html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  text-align: center;
  font-weight: 400;
  letter-spacing: .01em; }
  @media screen and (max-width: 750px) {
    h2 {
      font-size: 1.7em; } }
  @media screen and (max-width: 425px) {
    h2 {
      font-size: 1.4em; } }

h3 {
  font-size: 1.3em;
  font-weight: bolder;
  margin: 10px auto; }

a {
  text-decoration: none;
  color: inherit; }

body {
  box-sizing: border-box;
  color: inverse(#F9F9f9);
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.hero {
  position: relative;
  height: 90vh;
  background: url("../img/yerba-on-white.jpg") center center no-repeat;
  background-size: 450px auto;
  z-index: -2; }
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent 70%, #cfe26c);
    opacity: .7;
    z-index: -1; }
  .hero .title img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .hero .title h2 {
    position: absolute;
    bottom: 0;
    height: 12%;
    width: 100%;
    margin: 0 auto;
    font-weight: 300;
    text-shadow: 0px 0px 90px #a9c126;
    color: black; }

.navbar-fixed {
  position: fixed !important;
  top: 0 !important; }

.nav {
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 90vh;
  z-index: 3; }
  .nav ul {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%; }
    .nav ul li {
      float: left;
      width: 12%;
      height: 100%;
      margin: 0 auto;
      margin-left: 4%;
      text-align: center;
      color: inverse(#F9F9f9); }
      @media screen and (max-width: 550px) {
        .nav ul li {
          display: none; } }
  .nav .mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media screen and (max-width: 550px) {
      .nav .mobile-nav {
        display: inline-block; } }
    .nav .mobile-nav h3 {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      margin: 0px;
      color: grey; }
    .nav .mobile-nav img {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
      height: 40px;
      margin-right: 10px; }
  .nav:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F7F4EF;
    opacity: .9; }

.section-wrapper {
  width: 100%; }

.section {
  position: relative;
  height: auto;
  min-height: 70vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  background-color: inherit;
  z-index: 0; }
  @media screen and (min-width: 750px) {
    .section {
      padding: 2em; } }
  .section .section-text {
    margin: 1em;
    text-align: center; }

#our-mates {
  position: relative;
  top: 10vh;
  background: white;
  margin-bottom: 10vh; }
  #our-mates .flavors {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    @media screen and (max-width: 550px) {
      #our-mates .flavors {
        flex-direction: column; } }
    #our-mates .flavors:hover img:not(:hover) {
      filter: grayscale(0.65); }
    #our-mates .flavors .product-flavor {
      margin: 1em; }
      #our-mates .flavors .product-flavor img {
        width: 150px;
        transition: filter 1s ease; }

#why-mate {
  background-color: #cc621c;
  position: relative;
  color: #F9F9f9;
  z-index: 1; }
  #why-mate .reason-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    -ms-flex-align: baseline; }
    @media screen and (max-width: 650px) {
      #why-mate .reason-wrapper {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; } }
    #why-mate .reason-wrapper .reason {
      position: relative;
      min-width: 25%;
      margin: 2em 1em;
      padding-bottom: 1em; }
      #why-mate .reason-wrapper .reason h3 {
        margin-top: 65px;
        text-align: center; }
      #why-mate .reason-wrapper .reason img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        height: 50px; }

#process {
  position: relative;
  height: auto;
  width: 218px;
  margin: 0 auto;
  padding: 0;
  background: white;
  z-index: -2; }
  #process h2 {
    position: relative;
    padding-top: 1.5em;
    background: white;
    z-index: 2; }
  #process .ingredients {
    position: relative;
    min-height: 100px;
    width: 100%;
    background: white;
    z-index: 1; }
    #process .ingredients .faucet svg {
      position: absolute;
      right: 0;
      bottom: 0; }
  #process .pour-wrapper {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden; }
    #process .pour-wrapper .pour {
      position: fixed;
      top: 240px;
      left: 50%;
      transform: translate(-50%, 0);
      overflow: hidden;
      z-index: -3; }
      #process .pour-wrapper .pour #water {
        display: none;
        float: right;
        margin-left: 83px; }
      #process .pour-wrapper .pour .flow {
        display: block !important; }
  #process .brew {
    position: relative; }
    #process .brew .bucket svg:first-child {
      position: relative;
      top: 17px; }
    #process .brew .bucket svg:last-child {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 14px;
      z-index: -4; }
    #process .brew .bucket .full {
      fill: #90CEFF; }
    #process .brew .clock-face {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 40px;
      z-index: 1; }
    #process .brew .tap svg:first-child {
      position: absolute;
      left: 75px;
      bottom: 40px; }
    #process .brew .tap svg:last-child {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 15px;
      z-index: 2; }
  #process .fill {
    position: relative;
    top: -15px;
    height: 150px;
    width: 100%;
    overflow: visible; }
    #process .fill #bottle {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 0;
      z-index: 3; }
    #process .fill #mate {
      display: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: -120px;
      z-index: 1; }
    #process .fill:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: -20px;
      left: 0;
      background: white;
      z-index: -1; }

#impact {
  background-color: #D6E681; }

/*# sourceMappingURL=main.css.map */
