html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  text-align: center;
  font-weight: 400;
  letter-spacing: .01em; }
  @media screen and (max-width: 750px) {
    h2 {
      font-size: 1.7em; } }
  @media screen and (max-width: 425px) {
    h2 {
      font-size: 1.4em; } }

h3 {
  font-size: 1.3em;
  font-weight: bolder;
  margin: 10px auto; }

h4 {
  font-weight: 600;
  text-align: left;
  margin: 3px 0; }

a {
  text-decoration: none;
  color: inherit; }

body {
  box-sizing: border-box;
  color: inverse(#F9F9f9);
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.hero {
  position: relative;
  height: 90vh;
  background: url("../img/yerba-on-white.jpg") center center no-repeat;
  background-size: 450px auto;
  z-index: -2; }
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
    z-index: -1; }
  .hero .title img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .hero .title h2 {
    position: absolute;
    bottom: 0;
    height: 12%;
    width: 100%;
    margin: 0 auto;
    font-size: 1.7em;
    font-weight: 300;
    text-shadow: 0px 0px 90px #a9c126;
    color: black; }

.navbar-fixed {
  position: fixed !important;
  top: 0 !important; }

.mobile-menu {
  display: none;
  position: absolute;
  top: 10vh;
  right: 0;
  height: 250px;
  width: 200px;
  opacity: .8;
  background-color: #F7F4EF;
  transition: display 3s ease; }
  .mobile-menu li {
    position: relative;
    padding: 10px;
    height: 50px;
    width: 100%;
    text-align: center; }
    .mobile-menu li:hover {
      background-color: #e9e1d4; }
    .mobile-menu li a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 12px; }

.nav {
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 90vh;
  z-index: 3; }
  .nav .main-nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%; }
    .nav .main-nav li {
      float: left;
      width: 15%;
      height: 100%;
      margin: 0 auto;
      margin-left: 4%;
      text-align: center;
      color: inverse(#F9F9f9); }
      @media screen and (max-width: 550px) {
        .nav .main-nav li {
          display: none; } }
  .nav .mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media screen and (max-width: 550px) {
      .nav .mobile-nav {
        display: inline-block; } }
    .nav .mobile-nav h3 {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      transform: translate(0, -50%);
      margin: 0px;
      color: grey; }
    .nav .mobile-nav img {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      transform: translate(0, -50%);
      right: 0;
      height: 40px;
      margin-right: 10px; }
  .nav:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F7F4EF;
    opacity: .9; }

@media screen and (max-width: 550px) {
  #menu-burger {
    display: block; } }
.section-wrapper {
  width: 100%; }

.section {
  position: relative;
  height: auto;
  min-height: 90vh;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1em;
  background-color: inherit;
  z-index: 0; }
  @media screen and (min-width: 750px) {
    .section {
      padding: 2em; } }
  .section .section-text {
    margin: 1em;
    text-align: center; }

#our-mates {
  position: relative;
  top: 10vh;
  background: white;
  margin-bottom: 10vh; }
  #our-mates .flavors {
    margin-top: 10%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    @media screen and (max-width: 550px) {
      #our-mates .flavors {
        flex-direction: column; } }
    #our-mates .flavors:hover img:not(:hover) {
      filter: grayscale(0.6); }
    #our-mates .flavors .product-flavor {
      margin: 1em;
      width: 150px; }
      #our-mates .flavors .product-flavor img {
        width: 100%;
        transition: filter .6s ease; }

.selected-flavor {
  animation: move 2s ease; }

@keyframes move {
  100% {
    position: absolute;
    left: 50px; } }
#why-mate {
  background-color: #cc621c;
  position: relative;
  color: #F9F9f9;
  z-index: 1; }
  #why-mate .why-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    @media screen and (max-width: 900px) {
      #why-mate .why-content {
        position: relative;
        top: 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0); } }
  #why-mate .reason-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    -ms-flex-align: baseline; }
    @media screen and (max-width: 900px) {
      #why-mate .reason-wrapper {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; } }
    #why-mate .reason-wrapper .reason {
      position: relative;
      min-width: 25%;
      margin: 2em;
      padding-bottom: 1em; }
      #why-mate .reason-wrapper .reason h3 {
        margin-top: 65px;
        text-align: center; }
      #why-mate .reason-wrapper .reason img {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        height: 50px; }

#process.section {
  color: black;
  height: auto; }
  #process.section .mate-equation {
    padding-top: 20px;
    padding-bottom: 40px; }
  #process.section h4 {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 64pt;
    text-align: center; }

#contact {
  background-color: #D6E681;
  min-height: 90vh; }
  @media screen and (max-width: 850px) {
    #contact {
      min-height: 120vh; } }
  #contact .contact-info {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: top;
    -moz-box-align: top;
    box-align: top;
    -webkit-align-items: top;
    -moz-align-items: top;
    -ms-align-items: top;
    -o-align-items: top;
    align-items: top;
    -ms-flex-align: top;
    height: 65vh;
    margin-top: 20px; }
    @media screen and (max-width: 850px) {
      #contact .contact-info {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; } }
    #contact .contact-info .text-box {
      margin-right: 2em;
      margin-left: 1em;
      margin-bottom: 2em; }
    #contact .contact-info #map {
      margin-right: 1em;
      flex-grow: 1;
      min-height: 300px;
      border: solid white 3px; }
    #contact .contact-info .bump {
      margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
