@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";

@import "modules/_variables.scss";
@import "modules/_mixins.scss";
@import "modules/_map.scss";

@import "partials/_reset.scss";
@import "partials/_typography.scss";

body {
  box-sizing: border-box;
  color: $text-dark;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
}

@import "partials/_hero.scss";
@import "partials/_nav.scss";
@import "partials/_section.scss";
@import "partials/_footer.scss";
