.main {

}

.section-wrapper {
  width: 100%;
}

.section {
  position: relative;
  height: auto;
  min-height: 70vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  background-color: inherit;
  .section-text {
    margin: 1em;
    text-align: center;
  }
}

#our-mates {
  .flavors {
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
    .product-flavor {
      margin: 1em;
      img {
        width: 150px;
      }
    }
  }
}

#why-mate {
  background-color: $secondary;
  position: relative;
  color: $text-light;
  z-index: 1;
  .section {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(baseline);
    @media screen and (max-width: 650px) {
      @include flex-direction(column);
    }
    .reason {
      position: relative;
      min-width: 25%;
      margin: 1em;
      h3 {
        margin-top: 65px;
        text-align: center;
      }
      img {
        position: absolute;
        @include horizontal-center;
        height: 50px;
      }
    }
  }
}

#process {
  position: relative;
  height: 1000px;
  width: 218px;
  margin: 0 auto;
  padding: 0;
  background: whitesmoke;
  h2 {
    position: relative;
    z-index: 2;
  }
  .ingredients {
    @include position(absolute, 0 0 auto 0);
    min-height: 150px;
    width: 100%;
    background: white;
    z-index: 1;
    .faucet svg {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .pour {
    position: fixed;
    top: 110px;
    @include horizontal-center;
    overflow: hidden;
    .flow {
      &#water {
        float: right;
      }
      &.spacer {
        width: 100px;
      }
      &#yerba {
        float: left;
      }
    }
  }
  .brew {
    position: absolute;
    @include horizontal-center;
    top: 400px;
  }
}

#impact {
  background-color: $primary;
}
