.main {

}

.section-wrapper {
  width: 100%;
}

.section {
  position: relative;
  height: auto;
  min-height: 70vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  background-color: inherit;
  z-index: 0;
  @media screen and (min-width: 750px) {
    padding: 2em;
  }
  .section-text {
    margin: 1em;
    text-align: center;
  }
}

#our-mates {
  position: relative;
  top: 10vh;
  background: white;
  margin-bottom: 10vh;
  .flavors {
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
    &:hover img:not(:hover) {
      filter: grayscale(.65);
    }
    .product-flavor {
      margin: 1em;
      img {
        width: 150px;
        transition: filter 1s ease;
      }
    }
  }
}

#why-mate {
  background-color: $secondary;
  position: relative;
  color: $text-light;
  z-index: 1;
  .reason-wrapper {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(baseline);
    @media screen and (max-width: 650px) {
      @include flex-direction(column);
    }
    .reason {
      position: relative;
      min-width: 25%;
      margin: 2em 1em;
      padding-bottom: 1em;
      h3 {
        margin-top: 65px;
        text-align: center;
      }
      img {
        position: absolute;
        @include horizontal-center;
        height: 50px;
      }
    }
  }
}

#process {
  position: relative;
  height: auto;
  width: 218px;
  margin: 0 auto;
  padding: 0;
  background: white;
  z-index: -2;
  h2 {
    position: relative;
    padding-top: 1.5em;
    background: white;
    z-index: 2;
  }
  .ingredients {
    position: relative;
    min-height: 100px;
    width: 100%;
    background: white;
    z-index: 1;
    .faucet svg {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .pour-wrapper {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;
    .pour {
      position: fixed;
      top: 240px;
      @include horizontal-center;
      overflow: hidden;
      z-index: -3;
      #water {
        display: none;
        float: right;
        margin-left: 83px;
      }
      .flow {
        display: block !important;
      }
    }
  }
  .brew {
    position: relative;
    .bucket {
      svg:first-child {
        position: relative;
        top: 17px;
      }
      svg:last-child {
        @include position(absolute, 0 0 0 14px);
        z-index: -4;
      }
      .full {
        fill: #90CEFF;
      }
    }
    .clock-face {
      position: absolute;
      @include horizontal-center;
      bottom: 40px;
      z-index: 1;
    }
    .tap {
      svg:first-child {
        position: absolute;
        left: 75px;
        bottom: 40px;
      }
      svg:last-child {
        position: absolute;
        @include horizontal-center;
        bottom: 15px;
        z-index: 2;
      }
    }
  }
  .fill {
    position: relative;
    top: -15px;
    height: 150px;
    width: 100%;
    overflow: visible;
    #bottle {
      position: absolute;
      @include horizontal-center;
      bottom: 0;
      z-index: 3;
    }
    #mate {
      display: none;
      position: absolute;
      @include horizontal-center;
      top: -120px;
      z-index: 1;
    }
    &:before {
      content: '';
      @include position(absolute, 0 0 -20px 0);
      background: white;
      z-index: -1;
    }
  }
}

#impact {
  background-color: $primary;
}
